body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
   
}

main {
    display: grid;
    border: 2px solid lime;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto;
    padding: 5px;
    gap: 5px;
}

section article {
    grid-column: 1/3;
    padding: 5px; 
    border: 2px solid blue;
}

section ul {
    grid-column: span 3;
    border: 2px solid orange;
}
}

marquee {
	padding: 1rem;
	background-color: #eee;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0;
}


h2 {
	color: navy;
	text-align: left;
    border: 2px solid pink;
    grid-column: span 5/6;
    
}
article p {
    text-align: justify;
   
   
}
.callout {
	color: #fffb00;
	background-color: #702963;
    padding: 2rem;
    grid-column: span 4;

  
    
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}
