body {
    width: 100%;
    min-height: 100%;
    background-color: gray;
    font-family:'Times New Roman', Times, serif
}
header {
    background-color: white;
    font-size: 12px;
    text-align: center;
    padding: auto;
    border: 2px solid green;
    margin: 1%;
}
nav {
    font-size: 16px;
    display: grid;
    text-align: center;

}
nav a{
    display: block;
    background-color: black;
    float: left;
    padding: 20px 135px;
    float:inline-end;
}
.myself{
    max-width: 30%;
    max-height: 30%;
    float: right;
    padding: 15px;
}
.card-links {
    border: 2px solid black;
}
.home-grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color:rgb(15, 99, 99);
    padding: 30px;
    margin: 1em;
    border-radius: 30px;
    position: absolute;
    
}

.home-grid > div {
    background-color: rgba (255, 255, 2.55, 0.8)
    text-align: center;
    position: relative;

 }
 .card {
    padding: 30px;
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid brown;
    padding: 5%;
    grid-gap: 10px;
    border-radius: 20px;

 }


 .card2 {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    text-align:center;

}
.footer {
    position: absolute;
    bottom: 0;
    left:  0;
    z-index: 10;
}
