* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}
 
header {
    background: #018675bd;
    max-width: 1200px;
    margin: auto;
    color: #000000;
    padding: 20px 0;
    text-align: center;

    
}
 
.header-content {
    max-width: 1200px;
    margin: 0 auto;
    max-height: 70px;

}
 
header h1 {
    margin-bottom: 10px;
    font-size: 24px;
}
 
header .highlight {
    color: #502b01;
}
 
.hamburger {
    display:none;
    font-size: 30px;
    cursor: pointer;
}
 
nav {
    margin: 0 auto;

    
 
}
 
nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #502b01;
    
}
 
nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    
    
}
 
nav a:hover {
    background-color: #e49115a6;
    text-decoration: overline;
}
 
.active {
    color: #ffffff;
}
   
footer {
    font-size: 12px;
}
    
@media (min-width: 640px) {
    .hamburger {
        display: none;
    }
 
    nav ul {
        display: flex;
    }
 
    nav ul li {
        flex: 1 1 100%;
    }
}

 
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}
 
.card {
    background: #e49115a6;
    padding: 20px;
    border-radius: 5px;
}
 
.card h2 {
    margin-bottom: 20px;
    font-size: 20px;
    background: #018675bd;
    color: #502b01;
    padding: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
 
.card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}
 
.about-me .content1,
.about-me .content2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
 
.about-me .content1 p {
    flex: 1;
    margin-right: 20px;
    align-self: baseline;
}
 
.about-me .content2 p {
    flex: 1;
    margin-left: 20px;
    align-self: baseline;
    
}

.about-me .content1 img,
.about-me .content2 img {
    max-width: 300px;
    height: auto;
    margin: 0;
    border-radius: 3px;
}
 
.resources ul {
    list-style: none;
    padding: 0;
}
 
.resources ul li {
    margin-bottom: 10px;
}
 
.resources ul li a {
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
}
 
.resources ul li a:hover {
    color: #018675bd;
}
 
footer {
    text-align: center;
    padding: 5px 0;
    background: #018675bd;
    color: #502b01;
    height: 40%;
}
 
footer p {
    margin: 5px 0;
}
 
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }
 
    nav ul {
        display: none;
        flex-direction: column;
    }
 
    main {
        grid-template-columns: 1fr;
    }
 
    .about-me .content1,
    .about-me .content2 {
        flex-direction: column;
        text-align: center;
    }
 
    .about-me .content1 p,
    .about-me .content2 p {
        margin: 0 0 10px 0;
    }
 
    .about-me .content1 img,
    .about-me .content2 img {
        max-width: 80%;
        margin: 0 auto;
        
    }
 
    .card h2 {
        font-size: 18px;
        
    }
 
    header h1 {
        font-size: 20px;
    }

}