body {
    background: none;
    padding: 0%;
    font-family: "Winky Rough", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color:#e6d18f;

}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

h1 {
  color: #547340;
  text-align: center;
  text-decoration:none;
}

h2 {
  color: #000000;
  text-decoration: underline;
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: grid; /* Use flexbox for responsive layout */
   /* Allow cards to wrap to the next line */
  justify-content: center; /* Center the cards horizontally */
  gap: 20px; /* Space between cards */
  max-width: 1200px; /* Optional: limit the overall width */
  margin: 0 auto; /* Center the container */
}

.temple-card {
  background-color: #fa9625c2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  width: 300px; /* Adjust as needed */
  padding: 15px;
  text-align: center;
}

.temple-card .card-image img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  background-color: #ffffff;
}

.card-image img {
    animation: 15s;
}

nav {
    background-color: #547340;
    padding: 1px;
    width: 100%;
    justify-content:  right;
  
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a:hover {
    padding: 1px;
    margin: 1px;
    border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #e6d18f;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li a {
  text-decoration: none;
  color: #333333;
  padding: 0.5rem 1rem;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333333;
  margin: 5px auto;

}

main {
    display: grid;
    grid-template-columns: auto;
    color: #000000;

}


footer {
    color: #547340;
    background-color: #e6d18f;
    justify-items: center;
 

}


@keyframes fade {
    0% {
        opacity: 5;
    }
    100% {
        opacity: 1;
    }
}

/* Adjust layout for smaller screens */
@media screen and (max-width: 700px) {

  .card-image {
    align-content: center;
    padding: 1rem;
  }
 

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position:fixed;
    top: 70px;
    gap: 0;
    flex-direction: column;
    
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.active {
    display: flex;
    background-color: blue;
  }
}