body {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #a22424;

}

header {
    background-color: rgb(243, 243, 243);
    margin-top: 2%;
}

header h1 {
    display: grid;
    grid-template-columns: 1, 25%;
    text-align: center;
    font-size: 32px;
    color: black;
    border: 3px solid rgb(209, 67, 90);

}

img {
    width: 50%;

}

.container-country {
    background-color: yellow;
    border: 3px solid purple;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container-country h1 {
    background: white;
}

.container-weather {
    background-color: green;

}

.container-weather h1 {
    background: white;
}
.ul {
    display: grid;
    grid-gap: 1.5em;
    max-width: %;
}

footer {
    background-color: white;
}