body {
    display: grid;
    grid-gap: 5em;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background: #a22424;

}

header {
    background-color: #f3f3f3;
    grid-template-columns: repeat(4, 4fr);
}

header h1 {
    display: grid;
    text-align: center;
    font-size: 32px;
    color: black;
    border: 3px solid rgb(250, 0, 117);

}

img {
    display: grid;
    grid-template-columns:auto;

}

.container-country {
    background-color: yellow;
    border: 3px solid purple;
    display: grid;
    grid-template-columns: 50% 50%;

}

.container-country h1 {
    background: white;
}

.container-weather {
    display: grid;
    background-color: green;

}

.container-weather h1 {
    background: white;
}
.ul {
    display: grid;
    grid-gap: 1.5em;
    max-width: 25px;
}

footer {
    background-color: white;
}