body {
    background-color: darkgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

nav {
    color: black;
    justify-content: space-around;
    display: flex;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    background-color: brown;
    justify-content: space-around;
    width: 100%;
    border: none;
    display: block;
}

.intro {
    display: inline-block;
    margin: 0 auto;
    border: none;
}

.myself {
    max-width: 25%;
    margin: 0 auto;
    padding: 0 4em 4em 0;
    margin-left: 3em;
}