
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    color: #000000;
    padding: 20px;
}

nav {
    background-color:rgb(0, 68, 255);
    margin: 0 auto;
    max-width: 800px;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: block;
    color:#f0f0f0;
    text-align: center;
    padding: 1rem;
    text-decoration: none;

}

nav a:hover {
    border: 1px solid white;
}


.active {
    color: yellow;

}
/* larger views****************/

@media (min-width: 640px) {
    nav ul {
        display: flex;
    

    }
    nav ul li {
        flex: 1 1 100%;
}











