body {
    background: none;
    padding: 0%;

}

.h1 {
    font: white;

}

header {
    
}

nav {
    background-color: navy;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    text-align: left;
   

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    
}

nav a:hover {
    background-color: white;
    border-width: 1px solid;
}

.grid-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 10px;
    margin: 5%;
    padding: 5%;
}

figure {
    align-content: center;
}

footer {
    background-color: navy;
    border: 1px black solid;
    text-align: center;

}


.ham-menu {
    display: inline-block;
    cursor: pointer;
}

.opt1, .opt2, .opt3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .opt1 {
    transform: translate(0, 11px)
rotate(-45);
}

.change .opt2 {
    opacity: 0;
}

.change .opt3 {
    opacity: 0;
}

.change .opt5 {
    transform: translate(0, -11px);
rotate: 45def;
}

